.user-form {
    z-index: 2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #017849;
    width: 38rem;
    padding: 5rem 7rem 3rem 7rem;
    gap: 1.2rem;
}

.form-field, .input, .textarea, .select, .select option {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.input, .textarea, .form-field .flex {
    margin-top: 0.2rem;
}

.input, .search input, .textarea {
    color: #828282;
    padding: 0 1rem;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 3rem;
}

.input:focus, .search input:focus, .textarea:focus {
    outline: 2px solid #E0E0E0;
    outline-offset: -4px;
    color: #424242;
}

.form-field, .label, .input, small, .login>button, .textarea {
    width: 100%;
}

.textarea {
    resize: none;
    padding: 1rem;
    min-height: 10rem;
}

.label, .form-field>p {
    color: #4F4F4F;
    display: block;
}

.login .logo {
    margin-bottom: 2.8rem;
}

.login .form-field .label, .login>a {
    color: #FFFFFF;
}

.login>a {
    text-decoration: none;
}

.login .button-dark {
    margin: 1rem auto 0.3rem auto;
    height: 3rem;
    border: 1px solid #FFFFFF;
}

.signup {
    background-color: #FFFFFF;
    gap: 1.5rem;
    padding: 3rem 4rem 2.5rem 4rem;
    width: 32.5rem;
}

.signup .montserrat-18, .signup .montserrat-16 {
    color: #00995D;
}

.signup .montserrat-18 {
    margin-bottom: -1.2rem;
}

.right-button {
    margin-top: 1rem;
    align-self: flex-end;
}

.signup .montserrat-14 {
    color: #6F6F6E;
    margin: 0.6rem auto;
}

.required {
    margin: -0.5rem 0 -1rem 0;
    align-self: flex-start;
}

.search {
    display: flex;
}

.search label {
    display: none;
}

.search input {
    border-radius: 24px 0px 0px 24px;
    width: 23.5rem;
}

.form-patients, .new-session, .relevant-fact {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
}

.form-patients {
    gap: 2rem;
    margin: 1rem;
}

.new-session, .relevant-fact {
    width: 38rem;
    margin: 2rem;
    padding-bottom: 0;
    max-height: 90vh;
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

.scroll-wrapper, .scroll-wrapper .fields,  .relevant-fact{
    gap: 1rem;
}

.scroll-wrapper hr {
    border: 1.5px solid #EEEEEE;
    margin: 0.5rem 0;
}

.form-patients .title {
    margin-bottom: -0.5rem;
}

.form-patients h1, .new-session h1, .relevant-fact h1 {
    font-weight: 700;
    color: #00995D;
}

.new-session .title{
    margin-bottom: 1.5rem;
}

.relevant-fact .title{
    margin-bottom: 0.5rem;
}

.x:hover {
    cursor: pointer;
}

.fields, .title, .save {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fields, .confirm {
    gap: 1.5rem;
}

.form-patients hr {
    margin: -0.25rem -2rem -0.5rem -2rem;
    border: 2px solid #E0E0E0;
}

.form-patients .form-field, .form-patients input, .form-patients label, .form-patients select {
    width: 20.5rem;
    background-position-x: 18.25rem;
}

.select {
    -webkit-appearance: none;
    background: url('../images/icons/arrow-down.png') no-repeat right #FFFFFF;
}

.new-session .select {
    background-position-x: 7.5rem;
}

.confirm, .radio {
    display: flex;
    align-items: center;
}

.radio {
    gap: 0.5rem;
}

.confirm p:hover {
    cursor: pointer;
    color: #616161;
}

#show-patient {
    padding-bottom: 2.9rem;
}

#show-patient select, #show-patient input {
    background: #BDBDBD;
    opacity: 1;
    pointer-events: none;
}

.form-field .flex {
    height: 3rem;
    gap: 0;
}

.image-text {
    display: flex;
    gap: 0.5rem;
}
  
[type="radio"]{
    -webkit-appearance: none;
    background-color: #FFFFFF;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
}
  
[type="radio"]:checked{
    background-color: #004CE8;
    border: 1px solid #004CE8;
    box-shadow: inset 0 0 0 3px #FFFFFF;
}

[type="radio"]:checked + label {
    font-weight: 600;
}

.strong {
    font-weight: 500;
}

[type="radio"]:disabled, [type="radio"]:disabled + label {
    opacity: 0.25;
}

.bottom {
    padding-bottom: 2rem;
}

.bottom hr {
    border: 1.5px solid #EEEEEE;
    margin: 0 -2rem 2rem -2rem;
}
