.login {
    z-index: 2;
    background-color: #017849;
    width: 38rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.form-field {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.login .label, .login>a {
    color: #FFFFFF;
}

.login .logo {
    margin: 4rem auto;
}

.input {
    color: #828282;
}

.input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 3rem;
    padding: 0% 1rem;
}

.input:focus, .search input:focus {
    outline: 2px solid #E0E0E0;
    outline-offset: -4px;
    color: #424242;
}

.form-field>.input {
    margin-top: 0.2rem;
}

.label, .input, small {
    display: block;
}

.label, .input, small, .login>button {
    margin: auto;
    width: 63%;
}

.form-field, .login>button, .login>a {
    margin-bottom: 1.2rem;
}

.login>a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.login .button-dark {
    margin: 2rem auto;
    max-height: 3rem;
    border: 1px solid #FFFFFF;
}

.signup {
    z-index: 2;
    background-color: #FFFFFF;
    width: 32.5rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.signup .logo {
    margin: 3rem auto 1.5rem auto;
}

.signup .form-field {
    margin-bottom: 1.5rem;
}

.signup .montserrat-18, .signup .montserrat-16 {
    color: #00995D;
    display: flex;
    justify-content: center;
}

.signup .montserrat-16 {
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
}

.signup .label, .signup .input, .signup small, .signup .right-button, .signup .montserrat-14 {
    width: 73%;
}

.signup .label {
    color: #4F4F4F;
}

.signup .button-text-icon {
    margin-bottom: 0.5rem;
}

.right-button {
    margin: 2rem auto;
    display: flex;
    justify-content: flex-end;
}

.signup .montserrat-14 {
    color: #6F6F6E;
    margin: 0.6rem auto;
}

.required {
    margin-bottom: -0.5rem;
}

.search {
    display: flex;
}

.search label {
    display: none;
}

.search input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 24px 0px 0px 24px;
    padding: 0 1rem;
}

.form-patients {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 1.5rem 2rem;
    margin: 1rem;
    margin-top: 1rem;
}

.form-patients .title {
    margin-bottom: -0.5rem;
}

.form-patients h1 {
    font-weight: 700;
    color: #00995D;
}

.x:hover {
    cursor: pointer;
}

.form-patients>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.form-patients hr {
    margin: -0.25rem -2rem -0.5rem -2rem;
    border: 2px solid #E0E0E0;
}

.form-field label {
    color: #4F4F4F;
}

.form-patients .form-field, .form-patients input, .form-patients label, .form-patients select {
    margin: 0;
    width: 20.5rem;
}

.select {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    -webkit-appearance: none;
    background: url('../images/icons/arrow-down.png') no-repeat right #FFFFFF;
    background-position-x: 18.25rem;
}

option {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.confirm {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.confirm p:hover {
    cursor: pointer;
    color: #616161;
}

#show-patient {
    padding-bottom: 2.9rem;
}

#show-patient select, #show-patient input {
    background: #BDBDBD;
    opacity: 1;
    pointer-events: none;
}