.user-form {
    z-index: 2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #017849;
    width: 38rem;
    padding: 5rem 7rem 3rem 7rem;
    gap: 1.2rem;
}

.form-field {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.form-field .input {
    margin-top: 0.2rem;
}

.input, .search input {
    color: #828282;
    padding: 0 1rem;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 3rem;
}

.input:focus, .search input:focus {
    outline: 2px solid #E0E0E0;
    outline-offset: -4px;
    color: #424242;
}

.label, .input, small {
    display: block;
}

.form-field, .label, .input, small, .login>button {
    width: 100%;
}

.label {
    color: #4F4F4F;
}

.login .logo {
    margin-bottom: 2.8rem;
}

.login .form-field .label, .login>a {
    color: #FFFFFF;
}

.login>a {
    text-decoration: none;
}

.login .button-dark {
    margin: 1rem auto 0.3rem auto;
    height: 3rem;
    border: 1px solid #FFFFFF;
}

.signup {
    background-color: #FFFFFF;
    gap: 1.5rem;
    padding: 3rem 4rem 2.5rem 4rem;
    width: 32.5rem;
}

.signup .montserrat-18, .signup .montserrat-16 {
    color: #00995D;
}

.signup .montserrat-18 {
    margin-bottom: -1.2rem;
}

.right-button {
    margin-top: 1rem;
    align-self: flex-end;
}

.signup .montserrat-14 {
    color: #6F6F6E;
    margin: 0.6rem auto;
}

.required {
    margin: -0.5rem 0 -1rem 0;
    align-self: flex-start;
}

.search {
    display: flex;
}

.search label {
    display: none;
}

.search input {
    border-radius: 24px 0px 0px 24px;
    width: 23.5rem;
}

.form-patients, .new-section {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 1.5rem 2rem;
    margin: 1rem;
    margin-top: 1rem;
}

.form-patients .title {
    margin-bottom: -0.5rem;
}

.form-patients h1, .new-section h1 {
    font-weight: 700;
    color: #00995D;
}

.x:hover {
    cursor: pointer;
}

.form-patients>div, .new-section>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.form-patients hr {
    margin: -0.25rem -2rem -0.5rem -2rem;
    border: 2px solid #E0E0E0;
}

.form-patients .form-field, .form-patients input, .form-patients label, .form-patients select {
    margin: 0;
    width: 20.5rem;
}

.select {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    -webkit-appearance: none;
    background: url('../images/icons/arrow-down.png') no-repeat right #FFFFFF;
    background-position-x: 18.25rem;
}

option {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.confirm {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.confirm p:hover {
    cursor: pointer;
    color: #616161;
}

#show-patient {
    padding-bottom: 2.9rem;
}

#show-patient select, #show-patient input {
    background: #BDBDBD;
    opacity: 1;
    pointer-events: none;
}