* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 1510 x 1069 */
    background-color: #F2F2F2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
}

.red {
    color: #EB5757;
}

.none {
    display: none !important;
}

#modal {
    z-index: 3;
    /* background: #F2F2F2; */
    background: rgba(0, 0, 0, 0.47);
    position: fixed;
    inset: 0;
    overflow-y: auto;
}