header {
    position: sticky;
    top: 0;
    min-height: 5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    z-index: 1;
}

header .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 5rem;
    height: 5rem;
}

header .logo-to-go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: #212121;
}

header .logo-to-go-back p:hover{
    cursor: pointer;
}

header .montserrat-24 {
    display: flex;
    align-items: center;
    color: #017849;
}

header .icon {
    margin-left: 0.5rem;
    height: 1.5rem;
}