.background-logo {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    max-height: 77vh;
}

.success {
    background-color: #FFF;
    border-radius: 16px;
    min-width: 34.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00995D;
    gap: 1rem;
}

.success>img {
    margin-top: 2rem;
    width: 13rem;
    height: 13rem;
}

.success>button {
    margin-bottom: 2rem;
    min-width: 17rem;
}

.success>p {
    font-weight: 700;
    line-height: 1.9rem;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    min-width: 85%;
}

main h2 {
    margin: 1rem 0;
    color: #4F4F4F;
}

.my-patients {
    background-color: #FFFFFF;
    display: flex;    
    flex-direction: column;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    gap: 3.1rem;
    border-radius: 16px;
    margin-bottom: 5rem;
}

.my-patients .button-icon-text {
    height: 3.25rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem
}

.title-icon {
    display: flex;
    gap: 1rem;
}

.top-title-search {
    margin: 2rem 0;
}

.patient-identification {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
}

.patient-identification h3 {
    font-weight: 500;
    color: #212121;
    margin-bottom: 0.25rem;
}

.img-title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.patient-identification h4 {
    color: #00995D;
    font-weight: 400;
}
.patient-identification p {
    color: #616161;
}

.right-content {
    flex: 2.7;
    align-self: flex-start;
}

.session-relevant-fact {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.session-relevant-fact h3 {
    color: #616161;
}

.session-relevant-fact .flex {
    gap: 0.5rem;
}

.line-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
    margin: 2rem 0 1.5rem 0;
}

.line-text p {
    background-color: #F2F2F2;
    color: #757575;
    padding-left: 0.5rem;
    font-weight: 500;
}


.line-text p span {
    color: #212121;
}

.line-text p, .line-text img {
    background-color: #F2F2F2;
}

.medical-record {
    
}

.number-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.green-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #00995D;
    color: #FFFFFF;
}

.session-relevant-fact:hover {
    cursor: pointer;
}