.background-img {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-logo {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    min-width: 30vw;
}

.success {
    background-color: #FFF;
    border-radius: 16px;
    min-width: 34.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00995D;
    gap: 1rem;
}

.success>img {
    margin-top: 2rem;
    width: 13rem;
    height: 13rem;
}

.success>button {
    margin-bottom: 2rem;
    min-width: 17rem;
}

.success>p {
    font-weight: 700;
    line-height: 1.9rem;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main h2 {
    margin: 1rem 0;
    color: #4F4F4F;
}

.my-patients {
    background-color: #FFFFFF;
    display: flex;    
    flex-direction: column;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    gap: 3.1rem;
    border-radius: 16px;
    margin-bottom: 5rem;
}

.my-patients .button-icon-text {
    height: 3.25rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem
}

.title-icon {
    display: flex;
    gap: 1rem;
}

.top-title-search {
    margin: 2rem 0;
}

.patient-identification {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
    align-self: flex-start;
}

.patient-identification h3 {
    font-weight: 500;
    color: #212121;
    margin-bottom: 0.25rem;
}

.img-title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.patient-identification h4 {
    color: #00995D;
    font-weight: 400;
}
.patient-identification p {
    color: #616161;
}

.right-content {
    flex: 2.7;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.session-relevant-fact {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    max-height: 5rem;
}

.session-relevant-fact h3 {
    color: #616161;
}

.session-relevant-fact .flex {
    gap: 0.5rem;
}

.line-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
    margin: 2rem 0 3rem 0;
    position: relative;
}

.filter-by {
    color: #757575;
    padding-left: 0.5rem;
    font-weight: 500;
    display: inline;
    padding-right: 0.25rem;
}

#filter-menu, .payment {
    display: flex;
    align-items: center;
}

.filter-by, #filter-menu {
    background-color: #F2F2F2;
}

#filter-rule {
    font-weight: 500;
    color: #212121;
}

.medical-record {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    padding: 2.5rem 1.1rem 1.5rem 1.5rem;
    margin-bottom: 3rem;
}

.medical-record:not(:first-child)::before {
    content: '';
    position: absolute;
    top: calc(-1 * (3rem + 2px));
    left: calc(3rem - 1px);
    width: 2px;
    height: 3rem;
}

.vertical {
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.session-box .vertical, .session-box .circle, .session-box::before {
    background-color: #00995D;
}

.medical-record .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
}

.medical-record .points-menu {
    position: absolute;
    right: 1.7rem;
    top: 0.75rem;
    letter-spacing: 0.25rem;
    color: #212121;
    padding: 0.5rem 1rem;
}

.medical-record:hover, .points-menu:hover, #filter-menu:hover, .session-relevant-fact:hover, .see-more:hover, #backToTop:hover {
    cursor: pointer;
}

.medical-record h4 {
    margin-bottom: 0.25rem;
}

.medical-record .montserrat-14 {
    margin-bottom: 1.5rem;
}

.fact-relevant-box .vertical, .fact-relevant-box .circle, .fact-relevant-box::before {
    background-color: #2F80ED;
}

.number-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.green-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #00995D;
    color: #FFFFFF;
}

.see-more {
    color: #2F80ED;
}

#backToTop {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 1rem;
    color: #212121;
    background-color:#F2F2F2;
    border-radius: 8px;
    padding: 0 1rem;
}

#options-menu-line {
    width: 14rem;
    height: 11rem;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0.75rem;
    z-index: 1;
}

#options-menu-line .selected {
    color: #00995D;
    background-color: #C5F2E0;
    font-weight: 700;
}

#options-menu-line p {
    background-color: #FFFFFF;
    width: 100%;
    height: 33.34%;
    padding: 1rem 1.5rem;
}

#options-menu-line p:hover {
    color: #C5F2E0;
    background-color: #00995D;
    cursor: pointer;
    font-weight: 500;
}

#options-menu-line p:first-child:hover {
    border-radius: 8px 0 0 0;
}
#options-menu-line p:hover + * {
    border-radius: 0;
}
#options-menu-line p:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.medical-anotations {
    width: 62%;
    margin: 4rem 9rem 1rem 9rem;
}


.full-anotations {
    background-color: #FFFFFF;
    padding: 1.5rem;
    color: #000000;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.full-anotations h4 {
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.full-anotations>p {
    color: #616161;
}

.full-anotations>p + p {
    color: #424242;
}

.full-anotations>p, .full-anotations>p + p {
    margin-bottom: 1.5rem;
}

.payment {
    gap: 3rem;
}

.payment>div p:first-child{
    color: #757575;
    margin-bottom: 0.3rem;
}

.full-anotations .edition {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

.options-points-menu {
    width: 11rem;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1.5rem;
    gap: 1.5rem;
    right: 1.5rem;
    top: 3rem;
    z-index: 1;
}

.options-points-menu div {
    display: flex;
    gap: 0.5rem;
}